body {
	background: #ffebb1;
	height: 100%;
}

header {
	display: flex;
	justify-content: space-around;
	background: #111111;
	align-items: baseline;
}

.principal {
	color: #efef00;
	height: 40px;
	font-size: 30px;
}

.menu {
	color: #111111;
}

nav {
	display: flex;
}

a {
	text-decoration: none;
	background-color: #efef00;
	border-radius: 3px;
	margin: 0 10px;
	padding: 2px 14px;
}

.catalogo-lista {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: 0 15%;
}

.catalogo-item {
	width: 18%;
	margin: 1%;
	border-radius: 2%;
}

footer {
	background: #111111;
	width: 100%;
	position: absolute;
	margin-bottom: 0px;
}

.social-media-nav {
	display: flex;
	justify-content: center;
}

.social-media-icon {
	width: 2%;
	margin: 10px 0.7% 5px;
}

.ltda {
	color: #efef00;
	margin: 5px 0;
	text-align: center;
}
