body {
	background: #ffebb1;
}

header {
	display: flex;
	justify-content: space-around;
	background: #111111;
	align-items: flex-end;
	height: 50px;
}

.principal {
	color: #efef00;
	font-size: 30px;
}

.menu {
	color: #111111;
}

ul {
	display: flex;
	margin-bottom: 2%;
}

.menu-principal {
	text-decoration: none;
	background-color: #efef00;
	border-radius: 3px;
	margin: 0 10px;
	padding: 2px 14px;
}

.catalogo-lista {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: 0 15%;
}

.catalogo-item {
	width: 18%;
	margin: 1%;
	border-radius: 2%;
}

footer {
	background: #111111;
	width: 100%;
	position: absolute;
	margin-bottom: 0px;
}

.social-media-nav {
	display: flex;
	justify-content: center;
}

.social-media-icon {
	width: 2%;
	margin: 10px 0.7% 5px;
}

.ltda {
	color: #efef00;
	margin: 5px 0;
	text-align: center;
}

@media (max-width: 600px) {
	.catalogo-lista {
		width: 100%;
	}

	.catalogo-item {
		width: 48%;
	}

	header {
		background: pink;
	}
}
